:root
{
    --bg-color: #3D8D7A;
    --deco-color: radial-gradient(ellipse, #A3D1C6, #B3D8A8);
}
body
{
    background: var(--bg-color);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    font-family: 'Poppins', sans-serif;
}
form
{
    display: flex;
    z-index: 1;
    border-radius: 20px;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 5px;
    height: 100%;
    width: 50%;
}
img
{
    z-index: 1;
    height: 100%;
    width: 50%;

}
button
{
    height: 35px;
    width: 70%;
    border-radius: 10px;
    margin-top: 8px;
    border: 1px thin gray;
}
button[type="submit"]
{
    color: white;
    background: var(--bg-color);
}
button[type="button"]
{
    color: var(--bg-color);
    background: #FBFFE4;
}
.container
{
    position: relative;
    border: 5px thin black;
    display: flex;
    border-radius: 20px;
    width: 60%;
    height: 60%;
    background: white;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
    overflow: hidden;
}
h1
{
    margin-bottom: 1px;
}
input 
{
  padding: 7px;
  border-radius: 10px;
  font-size: 15px;
  width: 65%;
}
.rond
{
    position: absolute;
    border-radius: 100%;
    background: var(--deco-color);
}
.B
{
    border-radius: 100%;
    top: -100px;
    left: -100px;
    width: 400px;
    height: 400px;
}
.kely
{
    z-index: 1;
    bottom: -10px;
    right: -10px;
    width: 80px;
    height: 80px;
}
.middle
{
    left: 200px;
    bottom: 50px;
    width: 100px;
    height: 100px;
}